$logoColor: #2a7897;
$fontColor: white;
$fontColorInverse: black;
$fontColorGray: #dcdbdc;

$fontFamilyHeading: "Sanomat Web", serif;
$fontFamilyText: "Guardian TextSans Web", sans-serif;

$mediumHeading: calc(1rem + 0.6vw);

$sectionPadding: calc(2rem + 5vw);
