@import "colors";

* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

html {
	// background-color: $background;
	width: 100vw;
	background-color: black;
}

header {
	width: 100vw;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;

	img.backgroundImage {
		src: "../images/goldenGateBridge.jpeg";
		width: 80%;
	}
}
