@import "colors";

* {
	// font-family: Arial, Helvetica, sans-serif;
	font-family: "Guardian Sans", sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 1em;
}

.wrapper {
	margin-top: 8rem;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	perspective: 10px;
}

.section-one {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	transform-style: preserve-3d;
	z-index: -1;
}

.one,
.two {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}

.one {
	transform: translateZ(-10px) scale(2);
}

.two {
	transform: translateZ(-5px) scale(1.5);
}

.three {
	font-size: calc(2em + 2vw);
	font-family: $fontFamilyHeading;
	color: $fontColor;
	text-shadow: 0 0 5px $fontColorInverse;
}

.section-two {
	width: 100%;
	background-color: $fontColorGray;
	color: $fontColorInverse;
}

.section-container {
	width: 80%;
	margin: 0 auto;
	padding: 6em 0;

	h1 {
		font-family: $fontFamilyHeading;
		font-size: 4.5em;
	}

	p {
		margin: 0 auto;
		font-size: 1.6em;
		max-width: 70ch;
		text-align: justify;
	}
}

.explanation-container {
	margin-top: 6em;
	width: 100%;
	justify-content: space-between;
	gap: 2em;

	.explanation {
		height: 100%;
		display: flex;
		justify-content: stretch;
		flex-direction: column;
		margin-bottom: auto;
	}

	h3 {
		font-size: 2rem;
		font-family: $fontFamilyHeading;
		padding-bottom: 1.6em;
		border-bottom: 2px solid $fontColorInverse;
		width: 80%;
		text-align: center;
		margin: 0 auto;
		height: 130px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	p {
		margin: 1em 0.5em;
		font-size: 1.2rem;
	}
}

@media (max-width: 1000px) {
	body {
		font-size: 0.8em;
	}

	.explanation-container {
		flex-direction: column;
	}
}

@media (max-width: 650px) {
	div.wrapper {
		margin-top: 6rem;
	}
}
