@import "colors";

* {
	// font-family: Arial, Helvetica, sans-serif;
	font-family: "Guardian Sans", sans-serif;
	box-sizing: border-box;
}

section {
	width: 100vw;

	&.introduction {
		min-height: 80vh;
		margin-top: 150px;
		background-image: url("../images/History/LA.jpeg");
		opacity: 0.92;
		background-repeat: no-repeat;
		background-size: cover;
		color: $fontColor;

		& > div {
			width: 80%;
			background-color: rgba(0, 0, 0, 0.4);
			padding: 2rem;
			justify-content: space-between;

			h1 {
				font-size: calc(3rem + 1vw);
				align-self: flex-start;
				margin: 0;
			}

			h4 {
				max-width: 40ch;
				align-self: flex-start;
				font-size: calc(1rem + 0.4vw);
			}

			h6 {
				max-width: 40ch;
				font-size: calc(1rem + 0.4vw);
				font-weight: lighter;
				align-self: flex-start;
			}
		}
	}
}

@media (max-width: 1000px) {
	#header-container {
		flex-direction: column;

		h1 {
			font-size: calc(2rem + 0.8vw);
		}
	}

	.heading-container {
		align-self: flex-start;
	}
}

// Timeline styling
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	background-color: #111;
}

.timeline {
	width: 80%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: end;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		width: 2px;
		height: 100%;
		background-color: gray;
	}
}

.timeline ul {
	list-style: none;
	width: 72vw;
}

.timeline ul li {
	padding: 1.5rem;
	background-color: #1e1f22;
	color: white;
	border-radius: 0.7rem;
	margin-bottom: 6rem;

	&::before {
		content: "";
		display: block;
		position: relative;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: gray;
		top: 0px;
	}
}

@media (max-width: 768px) {
	.timeline ul li::before {
		left: calc(-8vw - 34px);
	}
}

.timeline ul li:last-child {
	margin-bottom: 0;
}

.timeline-content h1 {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 10px;
}

.timeline-content p {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
}

.timeline-content .date {
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 10px;
	letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
	.timeline ul {
		width: 100%;
	}

	.timeline:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 2px;
		height: 100%;
		background-color: gray;
	}

	.timeline ul li {
		width: 50%;
		position: relative;
		margin-bottom: 50px;
	}

	.timeline ul li:nth-child(odd) {
		float: left;
		clear: right;
		transform: translateX(-30px);
		border-radius: 20px 0px 20px 20px;
	}

	.timeline ul li:nth-child(even) {
		float: right;
		clear: left;
		transform: translateX(30px);
		border-radius: 0px 20px 20px 20px;
	}

	.timeline ul li::before {
		content: "";
		position: absolute;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: gray;
		top: 0px;
	}

	.timeline ul li:nth-child(odd)::before {
		transform: translate(50%, -50%);
		right: -30px;
	}

	.timeline ul li:nth-child(even)::before {
		transform: translate(-50%, -50%);
		left: -30px;
	}

	.timeline-content .date {
		position: absolute;
		top: -30px;
	}

	.timeline ul li:hover::before {
		background-color: aqua;
	}
}
