@import "colors";

* {
	// font-family: Arial, Helvetica, sans-serif;
	font-family: "Guardian Sans", sans-serif;
	box-sizing: border-box;
}

html {
	width: 100vw;
}

main {
	padding-top: 8rem;
	width: 100%;
}

section {
	width: 100%;
	&.first-section {
		background-color: $fontColorInverse;
		color: $fontColor;
	}

	&.second-section {
		background-color: $fontColor;
		color: $fontColorInverse;
		padding: $sectionPadding 0;

		.grid-container {
			width: 80%;
			margin: 0 auto;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 0.5fr 1fr 5fr;
		}
	}
}

.imageContainer {
	width: 80%;
	margin: 0 auto;
}
img.backgroundImage {
	width: 100%;
}

h1 {
	font-weight: 300;
	color: $fontColor;
	font-size: 3.5rem;
	max-width: 10ch;
}

span {
	font-size: 5rem;
	&.bold {
		font-weight: 600;
		letter-spacing: 2px;
	}
}

h3 {
	margin: 2rem 4rem;
	color: $fontColor;
	max-width: 40ch;
	font-weight: lighter;
	text-align: justify;
}

.main-heading {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	padding: calc(4rem + 5vw) 0;
}

.image-options {
	width: 80%;
	padding: calc(2rem + 8vw) calc(1rem + 4vw);
	gap: calc(2rem + 4vw);

	.image-slider,
	.image-description {
		font-size: $mediumHeading;
		max-width: 30ch;
		text-align: start;
	}
}

h4 {
	grid-area: 1 / 1 / 2 / 4;
	text-align: center;
	margin: 0 auto;
	max-width: 20ch;
	padding: 1rem;
	border-top: 2px solid $fontColorInverse;
	font-weight: normal;
}

h2 {
	grid-area: 2/ 1/ 3/ 4;
	text-align: center;
	align-self: center;
}

.grid-item.company-cornerstones {
	width: 80%;
	height: 80%;
	align-self: center;
	justify-self: center;
	display: grid;
	grid-template-rows: 3fr 1fr 2.2fr 1fr;

	img {
		min-width: 8rem;
		max-width: 100%;
		margin: 0 auto;
		object-fit: contain;
	}

	h5 {
		font-weight: lighter;
		font-size: 2rem;
		margin: 2rem 0 1rem 0;
	}

	p {
		justify-self: start;
		align-self: start;
		margin: 0;
		padding: 0;
	}

	a.learn-more-link {
		justify-self: start;
	}
}

.third-section {
	background-color: $fontColorInverse;
	color: $fontColor;

	.third-section-grid {
		width: 80%;
		padding: $sectionPadding 0;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 2fr 2fr 1fr;
		gap: 1rem;
		grid-template-rows: 1fr 2fr;
	}

	h2 {
		grid-area: 2 / 1/ 3/ 2;
		max-width: 20ch;
		text-align: start;
		font-size: calc(1.5em + 1vw);
		margin: 0;
		padding: 0;
		align-self: self-start;
		font-weight: normal;
	}

	h4 {
		border-color: $fontColor;
	}

	img {
		margin: 0 auto;
		width: 80%;
		height: 100%;
		object-fit: fill;
	}

	p {
		margin: 0;
	}

	a {
		color: $fontColor;
		align-self: flex-start;
	}

	.flex-center-column {
		justify-content: space-between;
	}
}

@media (max-width: 800px) {
	h1 {
		font-size: 3rem;
		max-width: 10ch;

		span.bold {
			font-size: 3.5rem;
		}
	}

	.third-section .third-section-grid {
		font-size: 0.9em;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 3fr 2fr;

		img {
			width: 100%;
			object-fit: contain;
		}

		h2 {
			text-align: center;
			max-width: 100%;
		}

		p {
			font-size: 1.4em;
		}
	}

	.main-heading {
		align-items: flex-start;
		flex-direction: column;
	}

	div.image-options {
		flex-direction: column;
	}

	// Styling für mobile sollte zu galerie mäßiger Ansicht verändert werden.

	#grid-container-mobile {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr repeat(3, 12fr);
		gap: 3rem;
	}

	h4 {
		grid-area: 1 / 1/ 2/ 2;
	}

	h2 {
		grid-area: 2/ 1 / 3/2;
	}

	.grid-item.company-cornerstones {
		width: 60%;

		img {
			height: 100%;
		}
	}
}

@media (max-width: 800px) {
	main {
		padding-top: 6rem;
	}
}

.third-section {
	a {
		font-size: calc(1em + 0.3vw);
		text-decoration: none;
		color: $fontColor;
		place-self: center;
		overflow: hidden;

		display: block;
		position: relative;
		padding: 0.2em 0;
	}

	a::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0.1em;
		background-color: $fontColor;
		opacity: 0;
		transition: opacity 300ms, transform 300ms;
		overflow: hidden;
		opacity: 1;
		transform: translate3d(-101%, 0, 0);
	}

	a:hover::after,
	a:focus::after {
		transform: translate3d(0, 0, 0);
	}

	a:first-of-type::after {
		height: 0.1em;
	}
}
