@import "colors";

* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

html {
	width: 100vw;
}

main {
	padding-top: 150px;
	width: 100%;
}

section {
	width: 100%;
	&.first-section {
		background-color: $fontColorInverse;
		color: $fontColor;
	}

	&.second-section {
		background-color: $fontColor;
		color: $fontColorInverse;
	}
}

.imageContainer {
	width: 80%;
	margin: 0 auto;
}
img.backgroundImage {
	width: 100%;
}

h1 {
	font-weight: 300;
	color: $fontColor;
	font-size: 3.5rem;
	max-width: 10ch;
}

span {
	font-size: 5rem;
	&.bold {
		font-weight: 600;
		letter-spacing: 2px;
	}
}

h3 {
	margin: 2rem 4rem;
	color: $fontColor;
	font-size: $mediumHeading;
	max-width: 40ch;
	font-weight: 400;
	text-align: justify;
}

.main-heading {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	padding: calc(4rem + 5vw) 0;
}

.image-options {
	width: 80%;
	padding: calc(2rem + 8vw) calc(1rem + 4vw);
	gap: calc(2rem + 4vw);

	.image-slider,
	.image-description {
		font-size: $mediumHeading;
		max-width: 30ch;
		text-align: start;
	}
}

@media (max-width: 800px) {
	h1 {
		font-size: 3rem;
		max-width: 10ch;

		span.bold {
			font-size: 3.5rem;
		}
	}

	.main-heading {
		align-items: flex-start;
		flex-direction: column;
	}

	div.image-options {
		flex-direction: column;
	}
}
