@import "colors";

* {
	// font-family: Arial, Helvetica, sans-serif;
	font-family: $fontFamilyText;
	box-sizing: border-box;
}

main {
	min-width: 100vw;
	margin: 0;
	padding: 0;
}

section {
	min-width: 100%;
	color: $fontColor;

	&.section-one {
		margin-top: 10rem;
		background-image: url("../images/OregonBeach.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 50vh;
	}

	&.section-two {
		color: $fontColorInverse;
		background-color: $fontColorGray;
		padding: 2rem 0;

		.financials-container {
			width: 80%;
			justify-content: space-between;
			margin: 0 auto;
		}
	}
}

h1 {
	font-size: 4.5em;
	font-family: $fontFamilyHeading;
	font-weight: 500;
}

.page-heading {
	p {
		font-size: 1.6em;
		max-width: 70ch;
		text-align: center;
		margin: 0 auto;
		padding: 0 1rem;
	}
}

.financials-container {
	.financials {
		border-bottom: 4px solid $fontColorInverse;
		width: 30%;
		max-height: 280px;
		display: grid;
		grid-template-rows: 180px 1fr 90px;

		h1 {
			text-align: center;
			max-width: 10ch;
			margin: 0;
			place-self: center;
		}

		p {
			text-align: center;
			font-size: 1.6em;
			margin: 0;
			place-self: center;
		}
	}
}

@media (max-width: 800px) {
	.page-heading {
		p {
			font-size: calc(1em + 0.4vw);
		}

		h1 {
			font-size: $h1Mobile;
		}
	}

	.section-two .financials-container {
		flex-direction: column;
		width: 90%;
		margin: 0 auto;

		.financials {
			width: 100%;
			grid-template-rows: 70px 1fr 35px;
			border-bottom: 2px solid black;
			padding: 2em 0;

			&:last-of-type {
				border-bottom: 0px;
			}

			h1 {
				font-size: $h1Mobile;
			}

			p {
				font-size: 1.4em;
			}
		}
	}
}
