@import "colors";

* {
	// font-family: Arial, Helvetica, sans-serif;
	font-family: $fontFamilyText;
	box-sizing: border-box;
}

p {
	font-size: 1.25em;
}

main {
	min-width: 100vw;
	margin: 0;
	padding: 0;
}

section {
	width: 100%;
	color: $fontColor;

	&.section-one {
		margin-top: 10rem;
		background-image: url("../images/OregonBeach.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 50vh;
	}

	&.section-two {
		color: $fontColorInverse;
		background-color: $fontColorGray;
		padding: 2rem 0;

		.financials-container {
			width: 70%;
			justify-content: space-between;
			margin: 0 auto;
		}
	}

	&.section-three {
		color: $fontColorInverse;
		width: 70%;
		margin: 0 auto;
		overflow: hidden;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.5fr 1fr 10fr;
		padding: 4em 0;
	}
}

// section-one
h1 {
	font-size: 4.5em;
	font-family: $fontFamilyHeading;
	font-weight: 500;
}

.page-heading {
	p {
		font-size: 1.6em;
		max-width: 70ch;
		text-align: center;
		margin: 0 auto;
		padding: 0 1rem;
	}
}

// section-two
.financials-container {
	.financials {
		border-bottom: 4px solid $fontColorInverse;
		width: 30%;
		max-height: 280px;
		display: grid;
		grid-template-rows: 180px 1fr 90px;

		h1 {
			text-align: center;
			max-width: 10ch;
			margin: 0;
			place-self: center;
		}

		p {
			text-align: center;
			font-size: 1.6em;
			margin: 0;
			place-self: center;
		}
	}
}

//section-three
.section-three {
	h2 {
		margin: 1rem 0;
		font-family: $fontFamilyHeading;
		font-size: 2.25em;
		grid-area: 2 / 1 / 3 / 3;
		max-width: 60ch;
		font-weight: 600;
	}

	.investment-principles {
		height: 100%;
		justify-content: space-between;
		margin-right: 2rem;
		margin-top: 4rem;

		.principle-container {
			height: 30%;
			border-bottom: 1px solid black;

			&:last-of-type {
				border-bottom: 0;
			}

			h5 {
				margin-top: 0;
				font-size: 1.6em;
				font-family: $fontFamilyHeading;
			}

			p {
				margin-top: 0;
				margin-bottom: 2rem;
				text-align: justify;
			}
		}
	}

	img {
		margin-top: 4rem;
		width: 100%;
		height: 90%;
		image-rendering: optimizeQuality;
		object-fit: cover;
	}
}

h4.section-heading {
	font-family: $fontFamilyText;
	font-size: 1.25rem;
	font-weight: 400;
	text-transform: uppercase;
	grid-area: 1 / 1/ 2 / 3;
	margin: 0;
}

// section-four
section.section-four {
	background-color: $fontColorInverse;
	color: $fontColor;

	.grid-container {
		width: 70%;
		margin: 0 auto;
		padding: 4rem 0;
		gap: 3em;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 5fr 5fr;
	}

	.section-heading {
		grid-area: 1/ 1 / 2/ 4;
	}

	img {
		width: 100%;
		height: 15rem;
	}
}

.not-visible {
	opacity: 0;
	transition: all 1s;
	filter: blur(5px);
	transform: translateX(-100%);
}

.show {
	opacity: 1;
	filter: blur(0px);
	transform: translateX(0);
}

.portfolio-company:nth-of-type(2) {
	transition-delay: 200ms;
}
.portfolio-company:nth-of-type(3) {
	transition-delay: 400ms;
}
.portfolio-company:nth-of-type(5) {
	transition-delay: 200ms;
}
.portfolio-company:nth-of-type(6) {
	transition-delay: 400ms;
}

@media (prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}

@media (max-width: 1000px) {
	section.section-three {
		grid-template-columns: 1fr;
		grid-template-rows: 0.3fr 1fr 4fr 4fr;

		img {
			grid-area: 3 / 1 / 4 / 2;
		}

		h2 {
			grid-area: 2 / 1 / 3 / 2;
		}

		.investment-principles {
			grid-area: 4/ 1 / 5/ 2;
			margin-right: 0;
		}
	}

	//sectoiin-four
	section.section-four {
		.grid-container {
			width: 90%;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 5fr 5fr 5fr;
		}

		.section-heading {
			grid-area: 1 / 1/ 2/ 3;
		}
	}
}

@media (max-width: 800px) {
	//section-one mobile
	.page-heading {
		p {
			font-size: calc(1em + 0.4vw);
		}

		h1 {
			font-size: $h1Mobile;
		}
	}

	// section-two mobile
	section.section-two .financials-container {
		flex-direction: column;
		width: 90%;
		margin: 0 auto;

		.financials {
			width: 100%;
			grid-template-rows: 70px 1fr 35px;
			border-bottom: 2px solid black;
			padding: 2em 0;

			&:last-of-type {
				border-bottom: 0px;
			}

			h1 {
				font-size: $h1Mobile;
			}

			p {
				font-size: 1.4em;
			}
		}
	}

	// section-three mobile
	section.section-three {
		width: 90%;
	}

	//section-four
	section.section-four {
		.grid-container {
			width: 70%;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr repeat(6, 5fr);
		}

		.section-heading {
			grid-area: 1/ 1/ 2/2;
		}
	}
}
