@import "colors";

body {
	display: flex;
	justify-content: center;
	background-color: white;
	min-width: 100vw;
	padding: 0;
	margin: 0;
}

nav.desktop-nav {
	width: 80vw;
	display: grid;
	grid-template-columns: 20% 1fr 15% 15% 15% 1fr 15%;
}

a {
	font-size: calc(1em + 0.3vw);
	text-decoration: none;
	color: $logoColor;
	place-self: center;
}

.logoContainer {
	min-width: 9rem;
	min-height: 9rem;
	background-image: url("../images/Logo/Logo.PNG");
	background-repeat: no-repeat;
	background-size: contain;
	align-self: center;
}

.mobile {
	width: 90%;
	display: grid;
	grid-template-columns: 20% 1fr 10%;
	place-items: center;

	.menu-bar {
		font-size: 2rem;
	}

	.dropdown-menu {
		grid-area: 2 / 1 / 3 / 4;

		display: none;
	}
}

@media (max-width: 1000px) {
	nav.desktop-nav {
		grid-template-columns: 25% 1fr 15% 15% 15% 1fr 15%;
	}

	a {
		font-size: calc(0.8em + 0.4vw);
	}

	.logoContainer {
		min-width: 8rem;
		min-height: 8rem;
	}
}

@media (max-width: 800px) {
	.logoContainer {
		background-image: url("../images/Logo/Logo.PNG");
	}
	.logoContainer {
		min-width: 7rem;
		min-height: 7rem;
	}
}

@media (max-width: 650px) {
	.hidden {
		opacity: 0;
		pointer-events: none;
		width: 0px;
		height: 0px;
	}

	.mobile {
		width: 100vw;
	}

	header {
		width: 100vw;
	}

	.dropdown-menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
}
